.header {
    padding: 160px 0 0;
    font-family: Roboto;
    background-color: $background-color;

    @include media-desktop {
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }

    .container {

        @include media-desktop {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 1300px;
            position: relative;
            height: 700px;
        }

        &__flex {

            @include media-tablet {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            @include media-desktop {
                align-items: flex-start;
            }
        }

        &__title {

            color: $product-color;
            font-family: Poppins;
            font-size: $fs-large;
            font-weight: bold;
            padding: 0 20px;
            max-width: 370px;

            @include media-tablet {
                max-width: 610px;
                font-size: $fs-xlarge;
                line-height: $lh-xlarge;
            }

            @include media-desktop {
                padding: 0;
                max-width: 570px;
            }
        }

        &__image-mobile {
            display: block;
            background: url("/src/images/desks.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 120%;
            padding: 0 20px;
            position: relative;

            @include media-tablet {
                background-size: contain;
            }

            @include media-desktop {
                display: none;
            }
        }

        &__phone {
            margin: 50px auto 0;
            width: 100%;
        }

        &__text {
            color: $text-color;
            font-size: $fs-small;
            line-height: $lh-small;
            padding: 0 20px;
            margin: 40px 0;

            @include media-tablet {
                max-width: 320px;
                text-align: center;
                font-size: $fs-regular;
                line-height: $lh-regular;
                max-width: 600px;
            }

            @include media-desktop {
                padding: 0;
                text-align: left;
            }
        }

        &__buttons {
            display: flex;
            justify-content: flex-start;
            padding: 0 20px;
            max-width: 420px;

            @include media-desktop {
                padding: 0;
            }
        }

        &__btn {
            height: 50px;
            width: 130px;

            @include media-tablet {
                width: 180px;
                height: 70px;
            }
        }

        &__btn:nth-of-type(1) {
            margin-right: 20px;
        }

        &__btn-img {
            width: 100%;
        }

        &__image-desktop {
            display: none;

            @include media-desktop {
                display: block;
                background: url("/src/images/desks.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                right: 0;
                width: 40%;
            }
        }
    }
}