.main {
    .information {
        background-color: $background-color;
        font-family: Roboto;
        padding: 100px 0;

        @include media-desktop {
            display: flex;
            justify-content: center;
            margin: 0 20px;
        }

        &__container {
            margin: 0 20px;
            display: flex;
            flex-direction: column;

            @include media-tablet {
                align-items: center;
            }

            @include media-desktop {
                flex-direction: row;
                justify-content: space-between;
                width: 1300px;
                margin: 0;
            }
        }

        &__wrapper {

            @include media-tablet {
                max-width: 300px;
                text-align: center;
            }

            @include media-desktop {
                text-align: left;
                height: 100%;
            }
        }

        &__wrapper:nth-of-type(2),
        &__wrapper:nth-of-type(3) {
            display: none;

            @include media-desktop {
                display: block;
            }
        }

        &__title {
            font-family: Poppins;
            font-size: $fs-regular;
            font-weight: bold;
            line-height: $lh-regular;
        }

        &__text {
            font-size: $fs-xsmall;
            font-weight: 300;
            line-height: $lh-xsmall;
            margin: 40px 0 0;
        }

        .slider {
            display: flex;
            justify-content: center;
            margin: 50px 0;

            @include media-desktop {
                display: none;
            }

            &__container {
                width: 65px;
                display: flex;
                justify-content: space-between;
            }

            &__dot {
                width: 5px;
                height: 5px;
                background-color: $text-color;
                border-radius: 50%;

                &--active {
                    background-color: $product-color;
                }
            }
        }
    }
}