.main {
    .information {
        background-color: $background-color;
        font-family: Roboto;

        @include media-desktop {
            display: flex;
            justify-content: center;
            padding: 60px 0;
        }

        &__container {
            margin: 0 20px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            @include media-tablet {
                align-items: center;
            }

            @include media-desktop {
                flex-direction: row;
                justify-content: space-between;
                width: 1300px;
            }
        }

        &__wrapper {

            @include media-tablet {
                max-width: 300px;
            }

            @include media-desktop {
                height: 100%;
            }
        }

        &__wrapper:nth-of-type(2),
        &__wrapper:nth-of-type(3) {
            display: none;

            @include media-desktop {
                display: block;

            }
        }

        &__title {
            font-family: Poppins;
            font-size: $fs-regular - 5;
            font-weight: bold;
            line-height: $lh-regular;
        }

        &__text {
            font-size: $fs-xsmall;
            font-weight: 300;
            line-height: $lh-xsmall;
            margin: 40px 0 0;
        }


        .slider {
            display: flex;
            justify-content: center;

            @include media-desktop {
                display: none;
            }

            &__container {
                width: 65px;
                display: flex;
                justify-content: space-between;
            }

            &__dot {
                width: 5px;
                height: 5px;
                background-color: $text-color;
                display: inline-block;
                border-radius: 50%;
            }
        }
    }
}