.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    font-family: Roboto;
    background-color: #fff;
    z-index: 5;

    .primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;

        @include media-desktop {
            &__logo::after {
                content: "zonifero";
                font-size: $fs-small;
                font-family: Poppins;
            }
        }

        .nav {
            display: none;

            @include media-desktop {
                display: block;
            }

            &__list {
                display: flex;
                align-items: center;
            }

            &__list-item {
                margin: 0 20px;
            }

            &__list-link {
                text-decoration: none;
                color: $text-color;
                transition: $transition-animation;

                &:hover {
                    color: $product-color;
                }
            }

            &__list-arrow {
                padding-right: 5px;
            }

            .buttons {
                padding-left: 65px;

                &__button {
                    font-family: Roboto;
                    border: none;
                    height: 80px;
                    outline: none;
                    font-size: $fs-xsmall;

                    &--sign-in {
                        background-color: transparent;
                        width: 80px;
                    }

                    &--sign-in:hover {
                        cursor: pointer;
                    }

                    &--download {
                        width: 280px;
                        background-color: $product-color;
                        color: #fff;
                        transition: $transition-animation;
                    }

                    &--download:hover {
                        cursor: pointer;
                        background-color: $product-color-hover;
                    }
                }
            }
        }

        &__hamburger {
            display: block;
            border: none;
            background-color: transparent;
            outline: none;
            transition: $transition-animation;

            &:hover {
                cursor: pointer;
                color: $product-color-hover;
            }

            @include media-desktop {
                display: none;
            }
        }
    }

    .secondary {
        @include media-desktop {
            max-width: 1300px;
            margin: 0 auto;
        }

        .nav {
            display: none;

            @include media-desktop {
                display: block;
                height: 80px;
            }

            &__list {
                display: flex;
                align-items: center;
                height: 100%;
            }

            &__list-item {
                margin-right: 40px;
            }

            &__list-item--active {
                @include active;
            }

            &__list-link {
                text-decoration: none;
                color: $text-color;
            }
        }

        &__mobile-nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $fs-xsmall - 1;
            transition: $transition-animation;

            &:hover {
                cursor: pointer;
                color: $product-color-hover;
            }

            @include media-desktop {
                display: none;
            }
        }
    }
}