@mixin active {
    font-weight: bold;

    &::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background-color: $secondary-color;
    }
}

@mixin border-input {
    background-image: radial-gradient(rgb(0, 0, 0) 2px, rgb(255, 255, 255) 2px);
    background-position: bottom;
    background-size: 7px 2px;
    background-repeat: repeat-x;
}

//BREAKPOINTS

$mobileBreakpoint: 500px;
$desktopBreakpoint: 1024px;
$largeDesktopBreakpoint: 1366px;

@mixin media-mobile {
    @media (min-width : $mobileBreakpoint) {
        @content;
    }
}

@mixin media-desktop {
    @media (min-width : $desktopBreakpoint) {
        @content;
    }
}

@mixin media-large-desktop {
    @media (min-width : $largeDesktopBreakpoint) {
        @content;
    }
}