$product-color: #3146ff;
$text-color: #000;
$background-color: #f7f7f7;
$secondary-color: #01ffcb;

$fs-large: 70px;
$fs-regular: 30px;
$fs-small: 19px;
$fs-xsmall: 17px;



$lh-large: 80px;
$lh-regular: 40px;
$lh-small: 30px;
$lh-xsmall: 25px;